<div class="comment">
	<div class="comment-username">
		<strong><%= comment.user.username %></strong><span class="flair">( flair goes here )</span><span class="likes"><i class="fa fa-arrow-circle-up"></i><i class="fa fa-arrow-circle-down"></i> ( count )</span>
	</div>

	<p class="comment-body"><%= link_to comment.body, comment_url(comment) %></p>

	<span class="timestamp">Posted <%= time_ago_in_words(comment.created_at) %> ago</span>
	<span class="controls">
		<%= link_to "Delete", comment_url(comment), method: :delete, data: { confirm: "Are you sure?" } %>
		<%= link_to "Reply", new_comment_url(parent_id: comment) %>
	</span>
</div>