<div class="comment" data-comment-id="<%= comment.id %>">
	<div class="comment-username">
		<%= comment.user.username %>
		<span class="flair">( flair goes here )</span>
		<span class="likes">
			<div class="circle ">
				<div class="vote-count">
					<%= get_value(comment) %>
				</div>
			</div>
			<i class="upvote fa fa-arrow-circle-up <%= upvoted?(comment) ? "highlighted" : "" %>"></i>
			<i class="downvote fa fa-arrow-circle-down <%= downvoted?(comment) ? "highlighted" : "" %>"></i>
		</span>
	</div>

	<p class="comment-body"><%= link_to comment.body, comment_url(comment) %></p>

	<span class="timestamp">Posted <%= time_ago_in_words(comment.created_at) %> ago</span>
	<span class="controls">
		<% if comment.user_id == current_user.id %>
			<%= link_to "Delete", comment_url(comment), method: :delete, data: { confirm: "Are you sure?" } %>
		<% end %>
		
		<%= link_to "Reply", new_comment_url(parent_id: comment) %>
	</span>
</div>