

<div ng-controller="ArticleIndexCtrl" class="article-index">
	<h2>ARTICLES</h2>
	<div id="articles-list">
			<li ng-repeat="article in articles" class="article-preview">
				<a href="/articles/{{article.id}}">
					<h3>{{ article.title }}</h3>
					<img ng-src="{{article.image}}" class="photo">
					<br>
				<!-- <span>Comments ({{ article.comments.length }})<span> -->
				</a>
			</li>
		</a>
	</div>
</div>

<!-- <div class="articles">
	<h1>ARTICLES</h1>
	
	<% @articles.each do |article| %>

		<div class="article">
			<a href="<%= article_url(article) %>">
				<img src="<%= article.image %>">
				<h2><%= article.title %></h2>
			</a>
			<a href="<%= article_url(article)%>#comments">
				<p>Comments: <%= article.comments.count == 0 ? "No Comments" : article.comments.count %></p>
			</a>
		</div>
		
	<% end %>

	<hr>

	<li><%= link_to "Create a New Article", new_article_path, class: 'new_article_link' %></li>
</div> -->