<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>CommentsTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<div class="container">
	
	<div class="header">
		<a href="/#/">
			<h1>ACHIEVEMENT UNLOCKER</h1>
			<h2 class="hp">HuffPost Edition</h2>
		</a>
	</div>
	
	<div class="row">
		<div class="span3 padded rounded" id="user-info">
			<%= render "/users/info" %>
		</div>

		<div class="span5 padded" ng-view id="angular-main">
			If you can see this, AngularJS and I are in the biggest fight ever.
		</div>	
			
		<div class="span3 achievements padded rounded" id="achievements">
			<%= render "/users/achievements" %> 	
		</div>
	</div>
</div>

</body>

</html>
