<!DOCTYPE html>
<html ng-app="hp_comments">
<head>
  <title>CommentsTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<div class="container" ng-view>
	
	<div class="row">
		<div class="span3" id="user-info">

			<%= render "/users/info" %>
			
		</div>
		
		

		<div class="span5" id="main">
			<%= yield %>
		</div>
		
		<div class="span3 achievements" id="achievements">
			<div class="won">
				<h3>Cheat Sheet</h3>
			
				<% Merit::Badge.keys.each do |key|%>
					<div class="clues">
						<li><p class="to-do"><%= Merit::Badge[key][:description] %></p></li>
					</div>			
				<% end %>
			</div>
		</div>
	</div>
</div>

</body>
</html>

